{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    <section class="postEdit">
        <h1>Modifier la publication</h1>
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </section>

{% endblock %}
