{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication{% endblock %}

{% block body %}
    <section class="post">
        <h1>Nouvelle publication</h1>
        {{ include('post/_form.html.twig') }}
    </section>
{% endblock %}
